/CMakeUserPresets.json

/build*/

/install*/

/real_work/
/work

.DS_Store

*.pyc

/Help/_generated

/.idea/
/cmake-build-*/

/CMakeLists.txt.user*

/.vscode/*
!/.vscode/settings.json


/.cache/

/.vs/
/out/
